body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-form,
.container-invio {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  gap: 3.125rem;
}

.box-km,
.box-eta {
  border: 1px solid black;
}
